@media screen and (max-width:576px) and (orientation: portrait) {
    * {
        box-sizing: border-box;
    }
    body {
        background-color: #FF6060;
        margin: 0;
        padding: 0;
        font-size: small;
        color: #ffffff;
        width: 100%;
    }
    a {
        display: block;
        text-decoration: none;
        color: #FF6060;
    }
    a:visited{
        text-decoration: none;
        color: #FF6060;
        ;
    }
    a:active{
        text-decoration: none;
        color: #FF6060;
        font-weight: bold;
    }
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
    }
    .box0 {
        display: flex;
        position: relative;
        height: 98vh;
        margin: 2%;
        padding: 2%;
        border: 2px solid;
        border-radius: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    } 
    #face {
        justify-content: center;
    }
    #face img{
        width: 40vw;
        display: block;
        margin: 20px 0;
        order: 1;
    } 
    #face h1 {
        text-align: center;
        order: 2;
        margin: 5px;
    }
    #face p {
        margin: 10px;
        order: 3;
    }
    #else img {
        width: 300px;
    }
    #audio {
        background-color: #DB5353;
    }
    #video {
        background-color: #A84040;
    }
    #else {
        background-color: #E19999;
    }
    video {
        width: 95%;
        margin: 0;
        padding: 0;
    }
    .bblock {
        background-color: #ffffff;
        position: fixed;
        height: 7vh;
        width: 100%;
        bottom: 0;
        box-sizing: border-box;
        border-radius: 25px 25px 0 0;
        justify-content: center;
    } 
    ul {
        margin: 2.5vh 0;
        padding: 0;
        top: 0;
        left: 0;     
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
    }
    ul li {
        display: inline;
    } 
}

@media screen and (min-width:577px) {
    body {
        background-color: #afafaf;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        color: #ffffff;
        overflow:hidden;
    }
    .box0 {
        display: block;
        position: relative;
        height: 100vh;
        padding-top: 10vh;
        padding-bottom: 5vh;
        box-sizing: border-box;
    }
    /*.bblock {*/
    /*    position: fixed;*/
    /*    top: 30%;*/
    /*    display: block;*/
    /*    border: 0;*/
    /*    text-align: center;*/
    /*}*/
    /*.button {*/
    /*    position: relative;*/
    /*    text-decoration: none;*/
    /*    background-color: #6e6e6e;*/
    /*    color: #ECEDF0;*/
    /*    border-color: #ffffff;*/
    /*    border: 1px solid;*/
    /*    padding: 0.5rem 1rem;*/
    /*    border-radius: 5rem;*/
    /*    font-size: 1rem;*/
    /*    width: 8rem;*/
    /*}*/
    li {
        list-style-type: none;
        margin: 15px;
    }
    audio{
        position: relative;
        top: 45%;
        margin-left: 40%;
    }
    video{
        position: relative;
        top: 15%;
        margin-left: 25%;
        border-radius: 10px;

    }
    a{
        display: block;
        text-decoration: none;
        color: #ffffff;
        padding: 7px;
    }
    a:visited{
        text-decoration: none;
        color: #ffffff;
    }
    /*a:hover{*/
    /*    text-decoration: none;*/
    /*    color: #ffffff;*/
    /*    font-weight: bold;*/
    /*}*/
    h1 {
        margin-top: 0;
        position: relative;
        top: 20%;
        text-align: center; 
        color: #ffffff;
    }
    p {
        position: relative; 
        margin: 20% 30%;
        color: #ffffff;
    }
    #face {
        background-image: url("black.png");
        background-color: #afafaf;
    }
    div#audio {
        background-image: url("green.png");
        background-color: #06c947;
    }
    #video {
        background-image: url("blue.png");
        background-color: #1e87e9;
    }
    #div_pic {
        background-image: url("grey.png");
        background-color: #afafaf;
    }
    /*#other {*/
    /*    background-color: #6d6d6d;*/
    /*}*/
    div#face img {
        position: absolute;
        bottom: 10%; 
        right: 10%; 
        width: 10%;
    }
    #else {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("black.png");
        background-color: #2d2d2d;
    }
    div#else img {
        display: block;
        width: 35%;
        filter: hue-rotate(270deg) saturate(200%);
    }
    div#else img:hover {
          filter: none;
    }
    li ul li {
        padding: 7px 0;
    }
    nav {
        background: rgb(255, 255, 255, 0.2);
        /*background-image: linear-gradient(rgb(49, 49, 49), rgb(255, 255, 255));*/
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        position: fixed;
        top: 0;
        height: 10vh;
        width: 100%;
        z-index: 1;
    }
    .main {
        position: absolute;
        top: 0;
        left: 0;
    }
    footer{
        position: fixed;
        display: flex;
        width: 100%;
        bottom: 0;
        height: 5vh;
        align-items: center;
        justify-content: center;
        background: rgb(255, 255, 255, 0.2);
    }
    footer p {
        position: relative;
        display: block;
        margin: 0;
    }
    ul {
        margin: 0;
    }
    .main_menu li{
        display: inline-block;
        position: relative;
        text-align: center;
        width: 100px;
        background: rgb(255, 255, 255, 0.2);
        border: solid 1px white;
        border-radius: 5px;
    }
    .main_menu li:hover{
        background: rgb(255, 255, 255, 0.6);
    }


    .drop_menu{
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        /*transition-delay: all .1s;*/
    }
    .drop_menu li{
        display: none;
        margin: 0;
        margin-top: 10px;
    }
    ul li:hover .drop_menu li{
        display: block;
    }
    #div_pic {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .single_div {
        position: relative;
        display: flex;
        width: 600px;
        height: 400px;
        justify-content: center;
        align-items: center;
        border: 1px black solid;
        border-radius: 15px;
        background-image: linear-gradient(#afafaf, #6e6e6e);
        background-color: #afafaf;
    }
        .laptop {
            width: 220px;
            height: 140px;
            background-image: linear-gradient(rgb(133, 128, 128), rgb(79, 79, 79));
            display: block;
            position: absolute;
            z-index: 10;
        }
            .laptop_but_block {
                width: 220px;
                height: 10px;
                position: absolute;
                top: 130px;
                display: block;
                background: #2d2d2d;
                z-index: 1;
            }
            .laptop_logo_cir {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #2d2d2d;
                position: absolute;
                margin: 0;
                padding: 0;
                top: 60px;
                left: 100px;
                z-index: 3;
            }
            .laptop_logo_tri1{
                width: 20px;
                height: 20px;
                background: #2d2d2d;
                clip-path: polygon(51% 0, 50% 100%, 100% 61%);
                position: absolute;
                top: 55px;
                left: 91px;
                z-index: 2;
            }
            .laptop_logo_tri2{
                width: 20px;
                height: 20px;
                background: #2d2d2d;
                clip-path: polygon(49% 0, 50% 100%, 0% 61%);
                position: absolute;
                top: 55px;
                right: 91px;
                z-index: 2;
            }
        .desk {
            width: 500px;
            height: 20px;
            background: #542302;
            position: absolute;
            top: 270px;
        }
        .ears {
            width: 180px;
            height: 40px;
            /*border: 1px solid white;*/
            position: absolute;
            top: 100px;
            z-index: 2;

        }
            .left_ear{
                width: 50px;
                height: 55px;
                left: 25px;
                transform: rotate(-15deg);
                clip-path: polygon(50% 0%, 63% 7%, 79% 30%, 93% 73%, 12% 74%, 21% 32%, 38% 7%);
                background: white;
                position: absolute;
            }
                .left_in_ear{
                    width: 40px;
                    height: 45px;
                    left: 5px;
                    top: 5px;
                    transform: rotate(0deg);
                    clip-path: polygon(50% 0%, 63% 7%, 79% 30%, 93% 73%, 12% 74%, 21% 32%, 38% 7%);
                    background: #ffbebe;
                    position: absolute;
                }

            .right_ear{
                width: 50px;
                height: 55px;
                right: 25px;
                transform: rotate(15deg);
                clip-path: polygon(50% 0%, 63% 7%, 79% 30%, 93% 73%, 12% 74%, 21% 32%, 38% 7%);
                background: white;
                position: absolute;
            }
                .right_in_ear{
                    width: 40px;
                    height: 45px;
                    left: 5px;
                    top: 5px;
                    transform: rotate(0deg);
                    clip-path: polygon(50% 0%, 63% 7%, 79% 30%, 93% 73%, 12% 74%, 21% 32%, 38% 7%);
                    background: #ffbebe;
                    position: absolute;
                    }
            .paw {
                height: 60px;
                width: 13px;
                background: white;
                position: absolute;
                transform: rotate(75deg);
                top: 170px;
                left: 410px;
            }
            .palm {
                height: 30px;
                width: 30px;
                background: white;
                position: absolute;
                top: -15px;
                left: -15px;
                clip-path: ellipse(37% 14% at 50% 50%);
            }
            .palm2 {
                height: 20px;
                width: 15px;
                background: white;
                position: absolute;
                top: -17px;
                left: -7px;
                transform: rotate(95deg);
                clip-path: ellipse(50% 29% at 50% 50%);
            }
            .palm3 {
                height: 20px;
                width: 15px;
                background: white;
                position: absolute;
                top: -16px;
                left: 1px;
                transform: rotate(95deg);
                clip-path: ellipse(50% 29% at 50% 50%);
            }
}