@media screen and (max-width:576px) and (orientation: portrait) {
    body {
        background-color: #FF6060;
        margin: 0%;
        padding: 0%;
        font-size: small;
        color: #ffffff;
        width: 100%;
    }
    a {
        text-decoration: none;
        color: #FF6060;
    }
    a:visited{
        text-decoration: none;
        color: #FF6060;
        ;
    }
    a:active{
        text-decoration: none;
        color: #FF6060;
        font-weight: bold;
    }
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
    }
    .box0 {
        display: flex;
        position: relative;
        height: 98vh;
        margin: 2%;
        padding: 2%;
        border: 2px solid;
        border-radius: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    } 
    #face {
        justify-content: center;
    }
    #face img{
        width: 40vw;
        display: block;
        margin: 20px 0;
        order: 1;
    } */
    #face h1 {
        text-align: center;
        order: 2;
        margin: 5px;
    }
    #face p {
        margin: 10px;
        order: 3;
    }
    #else img {
        width: 300px;
    }
    #audio {
        background-color: #DB5353;
    }
    #video {
        background-color: #A84040;
    }
    #else {
        background-color: #E19999;
    }
    video {
        width: 95%;
        margin: 0;
        padding: 0%;
    }
    .bblock {
        background-color: #ffffff;
        position: fixed;
        height: 7vh;
        width: 100%;
        bottom: 0;
        box-sizing: border-box;
        border-radius: 25px 25px 0 0;
        justify-content: center;
    } 
    ul {
        margin: 2.5vh 0;
        padding: 0;
        top: 0%;
        left: 0;     
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
    }
    ul li {
        display: inline;
    } 
}

@media screen and (min-width:577px) {
    body {
        background-color: #afafaf;
        margin: 0%;
        padding: 0%;
    }
    .box0 {
        display: block;
        position: relative;
        height: 100vh;
    }
    .bblock {
        position: fixed;
        top: 30%;
        display: block;
        border: 0px;   
        text-align: center;
    }
    .button {
        position: relative;
        text-decoration: none;
        background-color: #6e6e6e;
        color: #ECEDF0;
        border-color: #ffffff;
        border: 1px solid;
        padding: 0.5rem 1rem;
        border-radius: 5rem;
        font-size: 1rem;
        width: 8rem;
    }
    li {
        list-style-type: none;
        margin: 15px;
    }
    audio{
        position: relative;
        top: 45%;
        margin-left: 40%;
    }
    video{
        position: relative;
        top: 20%;
        margin-left: 30%;
    }
    a{
        text-decoration: none;
        color: #ffffff;
    }
    a:visited{
        text-decoration: none;
        color: #ffffff;
    }
    a:hover{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }
    h1 {
        margin-top: 0;
        position: relative; 
        top: 20%; 
        text-align: center; 
        color: #ffffff;
    }
    p {
        position: relative; 
        margin: 20% 30%; 
        color: #ffffff;
    }
    #face {
        background-color: #afafaf;
    }
    div#audio {
        background-color: #06c947;
    }
    #video {
        background-color: #1e87e9;
    }
    #other {
        background-color: #6d6d6d;
    }
    div#face img {
        position: absolute; 
        bottom: 10%; 
        right: 10%; 
        width: 10%;
    }
    #else {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div#else img {
        display: block;
        width: 35%;
    }
}