body {background-color: rgb(0, 162, 255);}
a {
            padding: 2rem 1rem;
            display: inline;
            border-radius: 10px;
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin: 1rem;
            position: relative;
            box-shadow: 10px 10px 5px rgb(0, 0, 0, 63%);}
a:hover {
            padding: 2.2rem 1.2rem; ;}
video {
    width: 40%;
    display: block;
    position: relative;
    margin: 20vh auto;
    box-shadow: 20px 20px 11px rgb(0, 0, 0, 63%)
    }
a#vindex {
    background-color: rgb(8, 100, 100)
        }
a#vaudio {
    background-color: rgb(166, 25, 201)
        }